 body{
    padding:0;
    margin:0;
    height:100%;
    }
#wrap{
    /*
    width:950px;
    margin:0 auto;
    */
    font-size:0.85em;
    padding:1em;
    }
#nav a{
    text-decoration:none;
    }
